.card {
  margin: 30px 35px;

  h2 {
    color: var(--black, #2e2e2e);
    font-size: var(--text-s, 16px);
    font-weight: 700;
    line-height: 145%;
  }
  p {
    color: var(--date_gray, #6d6d6d);
    font-size: var(--text-xs, 14px);
    font-weight: 400;
    line-height: 175%;
  }
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;

  width: 306px;
  padding: 32px 14px;
  margin: 28px auto 0;

  border-radius: 19px;
  border: 0.5px solid #eee;
  box-shadow: 2px 3px 11px 2px rgba(0, 0, 0, 0.05);

  .progress_bar_container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .label {
    width: 45px;
    margin: 0 10px;
    text-align: center;
    text-wrap: wrap;
    font-size: var(--text-xxs, 12px);
    font-weight: 700;
    line-height: 150%;
  }

  .progress_bar {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #f5f4f4;
    border-radius: 20px;
    height: 40px;
    overflow: hidden;

    .progress_bar_fill {
      min-width: 35px;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-radius: 20px;
    }

    .percentage_label {
      padding-right: 5px;
      color: var(--white, #fff);
      font-size: var(--text-xxs, 12px);
      font-weight: 700;
    }
  }
}

@media (min-width: 640px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
