.groupWrapper {
  display: flex;
  gap: 20px;

  li {
    color: var(--white, #fff);
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--text-l, 20px);
  }
}

.swiperButton {
  position: absolute;
  top: 42%;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
}

.swiperButtonPrev {
  left: 24px;
}
.swiperButtonNext {
  right: 24px;
}
