.form {
  display: flex;
}

.label {
  display: none;
}

.inputWrapper {
  position: relative;
}

.input {
  padding: 8px;
  font-size: var();
  border-bottom: 1.5px solid rgba(126, 153, 189, 0.50);;
  width: 360px;
}

.clearButton {

}

.clearButton img {
  width: 16px;
  height: 16px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
