.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 8px;
}

.input {
  padding: 8px;
  width: 100%;
  color: var(--tertiay, #1F6496);
  font-size: var(--text-s, 16px);
  font-weight: bold;
  border-bottom: 1.5px solid rgba(126, 153, 189, 0.50);
  text-align: left;
}

.input::placeholder {
  color: var(--placeholder_gray, #cccbcf);
  font-weight: 400;
}

.clearButton {
  position: absolute;
  width: 18px;
  height: 18px;
  background: none;
  z-index: 1;
  left: 341px;
  top: 25%;
}

.clearButton svg {
  color: inherit;
}

@media (min-width: 640px) {
  .form {
    width: 522px;
  }

  .input {
    font-size: var(--text-l, 20px);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.50);
    color: var(--black, #2e2e2e);
    text-align: center;
  }

  .clearButton {
    left: 504px;
    top: 30%;
  }

  .clearButton svg {
    color: var(--white, #fff);
  }
}
