.settingsPage {
  background-image: url('../../assets/background/background01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding-top: 68px; 
  }

  h1 {
    text-align: center;
    color: var(--white, #fff);
    font-size: var(--text-l, 20px);
    font-weight: bold;
  }

  .backButton {
    background: none;
    position: absolute;
    left: 7vw;
    top: 68px;
  }
  
  .desktopBackButton {
    left: 43vw;
  }

  @media (max-width: 440px) {
    .settingsPage {
      padding-top: 30px;
    }

    .backButton {
      top: 29px;
    }
  }