.emotionWrapper {
  width: 357px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;

  li {
    height: 43px;
  }
}

@media (min-width: 640px) {
  .emotionWrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 479px;
  }
  li {
    grid-column: span 2; /* 가로로 2개의 열을 차지 */
  }
  li:nth-child(5) {
    grid-column: 2 / span 2;
  }
}
