.stepIndicator {
  display: flex;
  gap: 8px;

  li {
    background-color: #969696;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  li[aria-current='step'] {
    background-color: var(--white, #ffffff);
    width: 24px;
  }
}
