@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sendingScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('/bgImages/sending_Bg.webp');

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3.3vh;

  p {
    padding: 10px 28px;
    border-radius: 28.5px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.11);

    color: var(--white, #fff);
    font-size: var(--text-l, 20px);
    text-align: center;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.6px;
  }

  img {
    width: 256px;
    height: 337px;
    margin-bottom: 16.8vh;
    animation: rotateAnimation 2s infinite ease-in-out;
  }
}

@media (min-width: 640px) {
  .sendingScreen {
    gap: 9vh;
    p {
      padding: 16px 34px;
      font-size: var(--text-xl, 24px);
      font-weight: 800;
      letter-spacing: -0.72px;
    }

    img {
      width: 356px;
      height: 442px;
      margin-bottom: 18vh;
    }
  }
}
