.linkButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  span {
    color: var(--black, #2e2e2e);
    font-size: var(--text-xxs, 12px);
    font-weight: 700;
    line-height: normal;
  }
}

@media (min-width: 640px) {
  .linkButton {
    span {
      font-size: var(--text-s, 16px);
    }
  }
}
