.title {
  color: var(--tertiay, #1f6496);
  font-size: var(--text-xl, 24px);
  font-weight: 700;
  line-height: 150%;
}

.setNickName {
  padding: 35px 40px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 87px;
}

@media (min-width: 640px) {
  .title {
    color: var(--white, #fff);
    font-size: var(--text-xxl, 55px);
    font-weight: 800;
    text-align: center;
  }
}
