.ToastContainer {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  justify-content: center;
  align-items: center;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  transition: height 0.5s ease-in-out;
  z-index: 9999;
  min-width: 290px;
}

.Toast {
  display: flex;
  border-radius: 8px;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  position: relative;
  top: -8px;
  opacity: 0;
  transition:
    top 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.Toast.mounted {
  top: 0;
  opacity: 1;
}

.Icon {
  width: 24px;
  height: 24px;
}

.Toast.info {
  color: #ffffff;
  background-color: #299d65;
}

.Toast.warn {
  color: #ffffff;
  background-color: #ff5733;
}

.Toast.default {
  color: var(--black);
  background-color: #fff;
}
