.componentWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.bottleLink {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: transparent;

  img {
    object-fit: cover;
  }
}
.bottleLink:disabled {
  cursor: not-allowed;
}

.notification {
  background-color: var(--white, #ffffff);
  color: var(--black, #2e2e2e);
  position: relative;
  width: fit-content;
  margin-bottom: 8px;
  padding: 11px 31px;
  border-radius: 11px;
  font-size: var(--text-xxs, 12px);
  line-height: 19px;
  text-align: center;
  white-space: pre-line;
}
.notification::after {
  content: '';
  position: absolute;
  top: 60px;
  right: 50%;
  translate: 50% 0;
  border-top: 8px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 0px solid transparent;
}

@media (min-width: 640px) {
  .notification {
    margin-bottom: 18px;
    padding: 14px 38px;
    font-size: var(--text-s, 16px);
    line-height: 24px;
  }

  .notification::after {
    content: '';
    position: absolute;
    top: 76px;
    border-top: 14px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 0px solid transparent;
  }
}

@media (min-width: 1024px) {
  .notification {
    margin-bottom: 18px;
    padding: 17px 45px;
    font-size: var(--text-l, 20px);
    line-height: 30px;
  }

  .notification::after {
    content: '';
    position: absolute;
    top: 93px;
    border-top: 14px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 0px solid transparent;
  }
}
