.page {
  height: 100%;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 7vh 61px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.asdf {
  width: 40px;
  height: 40px;
}

@media (min-width: 640px) {
  .header {
    width: 100%;
    padding-block: 10vh 90px;
  }
}
