.authInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 552px;
  padding: 18px 14px;
  margin: 20px auto;
  border: 1px solid var(--button_gray, #c6c5c9);
  border-radius: 10px;
  font-size: var(--text-xxs, 12px);
  font-weight: 700;
}

.authInput::placeholder {
  color: var(--placeholder_gray, #cccbcf);
  font-weight: 700;
}

@media (min-width: 640px) {
  .authInput {
    padding: 18px 22px;
  }
}
