.profileImg {
  width: 150px;
  height: 150px;
  border: 1px solid #bfdfff;
  border-radius: 9999px;
}

.profileName {
  color: var(--white, #fff);
  font-size: var(--text-m, 18px);
  font-weight: 800;
  line-height: 23px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 640px) {
  .profileImg {
    width: 230px;
    height: 230px;
  }
  
  .profileName {
    font-size: 28px;
  }
}