.radioList {
  display: flex;
  flex-wrap: wrap;
}

.emotionWrapper {
  width: 357px;
  gap: 9px;

  li {
    height: 43px;
  }
}

.ageWrapper {
  width: 356px;
  gap: 14px;

  li {
    width: 168px;
  }
}

.genderWrapper {
  width: 253px;
  gap: 16px;

  li {
    width: 253px;
  }
}

@media (min-width: 640px) {
  .radioList {
    justify-content: center;
  }
  .emotionWrapper {
    width: 479px;
  }
}
