.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.shellList {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1000px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
}
